<div class='row'>
  <div class='col-sm-3 col-sm-offset-2'>
    <div class='row'>
      <div class='col-sm-12 col-xs-6'>
        <a href='#/profiles/<%= submitter.id %>'>
          <%= submitter.escape('name') %>
        </a>
      </div>
      <div class='col-sm-12 col-xs-6'>
        posted <%= submission.get('time_ago') %> ago
      </div>
    </div>
  </div>

  <div class='col-sm-6 submission-image'>
    <div class='favoritable favoritable-image'>
      <div class='heart-overlay' hidden></div>
      <div class='heart-break-overlay' hidden></div>
      <img class='img-thumbnail' src="<%= submission.escape('url') %>">
    </div>

    <div class='row'>
      <div class='col-sm-12'>
        <% var preview = favorers.slice(0, 3); %>
        <%= submission.favoritesStr(preview) %>
      </div>
    </div>
  </div>
</div>
