<div class='row'>
  <div class='col-sm-2 col-sm-offset-2'>
    <div class='row'>
      <div class='col-sm-12 col-xs-6'>
        <a href='#/profiles/<%= submitter.id %>'>
          <%= submitter.escape('name') %>
        </a>
      </div>
      <div class='col-sm-12 col-xs-6'>
        <%= submission.get('time_ago') %>
      </div>
    </div>
  </div>

  <div class='col-sm-8'>
    <img class='img-thumbnail favoritable' src="<%= submission.escape('url') %>"
      data-favorited="<%= submission.get('favorited') %>"
      data-id="<%= submission.id %>">
    <div class='row'>
      <div class='col-sm-8'>
        <% var preview = favorers.slice(0, 3); %>
        <%= submission.favoritesStr(preview) %>
      </div>
    </div>
  </div>
</div>
