<aside class='feed-item-sidebar-container'>
  <div class='feed-item-sidebar'>
    <div class='feed-item-sidebar-text'>
      <span class='feed-item-name'>
        <%= submitter.linkTo() %>
      </span>
      <span class='feed-item-timeago'>
        <%= submission.get('time_ago') %> ago
      </span>
    </div>
    <img class='feed-item-avatar' src='http://placehold.it/40x40'>
  </div>
</aside>

<div class='feed-item-center-container'>
  <div class='feed-item-center'>
    <div class='fav-img'>
      <img class='feed-item-img' src="<%= submission.escape('url') %>">
    </div>

    <div class='feed-item-favorite-bar'>
      <div class='feed-item-fav-btn'>
        <a class='fav-btn glyphicon glyphicon-heart'></a>
      </div>

      <div class='feed-item-actions-btn'>
        <a class='actions-btn' href='#/view/<%= submission.id %>'>
          ...
        </a>
      </div>
      <span class='feed-item-favorites'>
        <% var preview = favorers.slice(0, 3); %>
        <%= submission.favoritesStr(preview) %>
      </span>
    </div>

    <% if (submission.get('caption')) { %>
      <div class='feed-item-caption-container'>
        <div class='feed-item-avatar-sm-container'>
          <img class='feed-item-avatar-sm' src='http://placehold.it/26x26'>
        </div>

          <span class='feed-item-caption'>
            <%= submitter.linkTo() %>
            <%= submission.escape('caption') %>
          </span>
      </div>
    <% } %>

    <% if (comments) { %>
      <% comments.each(function (comment) { %>
        <div class='feed-item-comments-container'>
          <div class='feed-item-comment'>
            <div class='feed-item-avatar-sm-container'>
              <a href='#/profiles/<%= comment.get('profile_id') %>'>
                <img class='feed-item-comment-avatar' src='http://placehold.it/24x24'>
              </a>
            </div>

            <span class='feed-item-comment-content'>
              <a href='#/profiles/<%= comment.get('profile_id') %>'>
                <%= comment.get('profile_name') %>
              </a>
              <%= comment.escape('content') %>
            </span>
          </div>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>
