<div class='jumbotron'>
  <h1>
    <%= profile.escape('display_name') %>
  </h1>

  <h2>
    @<%= profile.escape('name') %> 

    <small><%= profile.sexSymbol() %></small>

    <small><%= profile.location() %></small>
  </h2>

  <p>
  <% if (profile.escape('description') === '') { %>
    No description.
  <% } else { %>
    <%= profile.escape('description') %>
  <% } %>
  </p>
</div>

<% if (profile.user && profile.user.submissions()) { %>
<div class='row'>
  <% profile.user.submissions().forEach(function (submission) { %>
  <div class='col-xs-3'>
    <a href='/#/view/<%= submission.id %>'>
      <img class='img-thumbnail' src='<%= submission.escape('url') %>'>
    </a>
  </div>
  <% }); %>
</div>
<% } %>

