<div class='jumbotron'>
  <h1>
    <%= profile.escape('display_name') %>

  </h1>

  <h2>
    @<%= profile.escape('name') %> 

    <small><%= profile.sexSymbol() %></small>

    <small><%= profile.location() %></small>
  </h2>

  <p>
  <% if (profile.escape('description') === '') { %>
    No description.
  <% } else { %>
    <%= profile.escape('description') %>
  <% } %>
  </p>

  <p>
  <% if (AnyGram.currentUser.profile().id === profile.id) { %>
    <small><a href='#/edit_profile'>Edit</a></small>
  <% } else { %>
    <button id='follow-btn'></button>
  <% } %>
  </p>
</div>

<% for (var i = 0, l = submissions.length; i < l; i += 4) { %>
<div class='row thumb-row'>
  <% submissions.slice(i, i + 4).forEach(function (s) { %>
  <div class='col-xs-3'>
    <a href='/#/view/<%= s.id %>'>
      <img class='img-thumbnail' src='<%= s.escape('url') %>'>
    </a>
  </div>
  <% }); %>
</div>
<% } %>
