<div class='jumbotron'>
  <h1><%= profile.escape('display_name') %></h1>

  <h2>
    @<%= profile.escape('name') %> 
    <small><%= profile.sexSymbol() %></small>
    <small><%= profile.location() %></small>
  </h2>

  <% if (profile.get('bio')) { %>
  <p>
    <%= profile.escape('bio') %>
  </p>
  <% } %>

  <p>
    <% if (AnyGram.currentUser.profile().id === profile.id) { %>
      <small><a href='#/edit_profile'>Edit</a></small>
    <% } else { %>
      <button class='btn btn-default' id='follow-btn'></button>
    <% } %>
  </p>

  <p><%= profile.submissions().length %> posts</p>
  <p><%= profile.get('followers_count') %> followers</p>
  <p><%= profile.get('followed_count') %> following</p>
</div>

<div id='thumbnails' class='row'></div>
